.container{
    display: flex;
    flex-direction: column;
}

.header{
height: 20vw;
display: flex;
flex-direction: column;
row-gap: 15px;
align-items: center;
margin-bottom: 5rem
}

.header__img-box, .post__img-box, .notFound__img-box{
    height: 6rem;
    width: 6rem;
}

.header__img, .post__img, .notFound__img {
    width: 100%;
    height: 100%;
    margin: 10px;
}

.header__title, .post__title, .notFound__text{
    font-weight: 600;
    font-size: 3rem;
}

.nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    column-gap: 40px;
    background-color: lightcyan;
    padding: 10px 200px
}

.nav__item__link{
    text-decoration: none;
    font-size: 2rem;
    color: black;
}

.nav__item__link:hover{
    color: purple
}

.flowers__link{
    text-decoration: none;
    font-weight: 400;
    font-size: 2rem;
    color: black
}


.flowers__nav{
    display: flex;
    justify-content: center;
    list-style: none;
    column-gap: 20px;
}

.nav__pagination--link{
    color: black;
    font-weight:400;
    text-decoration: none;
    }

 .active--link{
color: purple;
font-weight: bold;
}


.home__title{
    font-size: 3rem;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 150px;
}

.home__text{
    text-align: center;
    width: 40%;
    margin: 0 auto;
    margin-top: 30px
}

.posts__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.posts__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    text-align: center;
    margin-bottom: 20px
}

.posts__list p{
margin: 0
}

.post__item--title{
    text-decoration: none;
    color: black
}

.post__item--title:hover, .post__item--read-more:hover, .notFound__link:hover{
font-weight:bolder;
color: purple;
}

.post__item--read-more{
    color: black;
    font-weight: 500;
    text-decoration: none;
}

.footer{
    color: purple;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 200px;
    font-style: italic;
    position: relative;
}

.footer::before{
    content:'';
    position: absolute;
height: 2px;
width:75%;
background-color: #242424;
left: 12%;
top: -70%
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:25px;
    row-gap: 50px;
}

.post__intro{
    width: 50%;
    text-align: center;
}

.post__text{
    text-align: center;
    font-size: 1.5rem;
}

.button{
    width: 8rem;
    height: 3rem;
    margin: 20px auto;
    border: 1px solid purple;
    background-color: purple;
    color: white;
    display: block;
    font-size: 16px;
    cursor: pointer;
    transition: 1s all
}

.button:hover{
    border: 1px solid white;
    background-color: white;
    color: purple;
    font-size: 20px;
}

.button__link{
    text-decoration: none;
}

.notFound{
display:flex;
flex-direction: column;
align-items: center;
margin-top: 50px
}

.notFound__link {
    color: purple;
    text-decoration: none;
    font-weight: bold;
}

.nav__pagination{
    display: flex;
    column-gap: 5px;
}

